.dropdown-toggle {
  cursor: pointer;
}

nav.navbar {
  background-color: #f0f3f4;
  // box-shadow: 0px 1px 3px 1px rgba(220, 220, 220, 1);
}

.navbar-brand {
  position: relative;
  padding: 0;
  margin-right: 0;

  .bg-img {
    height: 46px;
    width: 46px;
    border-radius: 23px;
    background-color: white;
  }

  img {
    top: 0;
    left: 0;
    position: absolute;
    height: 46px;
    object-fit: contain;
    transition: 0.4s;
  }
}

.nav-avatar-wrapper {
  height: 40px;
  width: 40px;
}
.nav-avatar-wrapper img {
  max-width: 100%;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-email {
  font-size: 15px;
}