<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/">V</a>
  <button
    (click)="isMenuCollapsed = !isMenuCollapsed"
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#bs-navbar"
    aria-controls="bs-navbar"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    [ngbCollapse]="isMenuCollapsed"
    class="collapse navbar-collapse"
    id="bs-navbar"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart" (click)="isMenuCollapsed = true"
          >Shopping Cart</a
        >
      </li>

      <ng-template #loginLink>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/login"
            (click)="isMenuCollapsed = true"
            >Login</a
          >
        </li>
      </ng-template>

      <li
        *ngIf="auth.user$ | async as user; else loginLink"
        ngbDropdown
        class="nav-item"
      >
        <a ngbDropdownToggle class="nav-link">{{ user.displayName }}</a>

        <div ngbDropdownMenu class="dropdown-menu">
          <a
            ngbDropdownItem
            (click)="isMenuCollapsed = true"
            routerLink="/account"
            >Your Account</a
          >
          <a
            ngbDropdownItem
            (click)="isMenuCollapsed = true"
            routerLink="/admin/products"
            >Manage Products</a
          >

          <a ngbDropdownItem (click)="logout()" routerLink="">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
