<nav class="navbar navbar-expand-md navbar-light fixed-top py-1">
  <a class="navbar-brand" routerLink="/">
    <div class="bg-img"></div>
    <img src="../../../assets/vshop-logo.png" />
  </a>
  <button
    (click)="isMenuCollapsed = !isMenuCollapsed"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#bs-navbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    [ngbCollapse]="isMenuCollapsed"
    class="collapse navbar-collapse"
    id="bs-navbar"
  >
    <!-- left side -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" (click)="isMenuCollapsed = true"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart" (click)="isMenuCollapsed = true"
          >Cart</a
        >
      </li>
    </ul>
    <!-- left side -->

    <!-- right side -->
    <ul class="navbar-nav ml-auto">
      <ng-template #loginLink>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/login"
            (click)="isMenuCollapsed = true"
            >Login</a
          >
        </li>
      </ng-template>

      <li
        *ngIf="auth.user$ | async as user; else loginLink"
        ngbDropdown
        class="nav-item"
      >
        <a ngbDropdownToggle class="d-md-none nav-link" href="#">{{
          user.displayName
        }}</a>
        <div
          ngbDropdownToggle
          class="d-none d-md-block rounded-circle nav-avatar-wrapper nav-link p-0 shadow-sm"
        >
          <img class="rounded-circle" [src]="user.photoURL" />
        </div>

        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
          <div class="mx-4">
            <b>{{ user.displayName }}</b>
          </div>
          <div class="dropdown-email mx-4">{{ user.email }}</div>
          <div class="dropdown-divider"></div>
          <a
            ngbDropdownItem
            (click)="isMenuCollapsed = true"
            routerLink="/account"
            >Your Account</a
          >
          <ng-container *ngIf="isAdmin">
            <a
              ngbDropdownItem
              (click)="isMenuCollapsed = true"
              routerLink="/admin/products"
              >Manage Products</a
            >
          </ng-container>

          <a ngbDropdownItem (click)="logout()" routerLink="">Log Out</a>
        </div>
      </li>
    </ul>
    <!-- right side -->
  </div>
</nav>
