$hide-color: rgb(222, 241, 222);

.loading {
  z-index: 1031;
  height: 4px;
  background-color: $hide-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.loading-bar {
  z-index: 1032;
  height: 100%;
  background-color: green;
}
.loading-hide {
  z-index: 1033;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 100%;
  background-color: $hide-color;
}
