<a routerLink="/admin/products/new" class="btn btn-success mb-4">New Product</a>

<div *ngIf="products$ | async as products">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Settings</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products">
        <td>{{ p.title }}</td>
        <td>{{ p.price | currency: "USD" }}</td>
        <td>{{ p.amount }}</td>
        <td>
          <button class="btn btn-sm btn-light" (click)="toEditPage(p.id)">
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
