<div class="row">
  <div class="col-12 col-md-4">
    <a routerLink="/admin/products/new" class="btn btn-success mb-3">
      New Product
    </a>
  </div>
  <div class="col-12 col-md-8 border rounded py-3">
    <app-pie-chart></app-pie-chart>
  </div>
</div>
<br />

<!-- search bar start -->
<!-- search bar end -->
<!-- data table start -->
<div *ngIf="products; else noDataTable" class="row border rounded">
  <table class="table table-borderless table-responsive-lg mb-0">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Time</th>
        <th style="width: 10%;">Settings</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let p of products; let i = index"
        [ngClass]="{
          'table-warning': p.amount > 0 && p.amount < 20,
          'table-danger': p.amount == 0
        }"
      >
        <td>{{ i + 1 }}</td>
        <td>{{ p.title }}</td>
        <td>{{ p.price | currency: "USD" }}</td>
        <td>{{ p.amount }}</td>
        <td
          data-toggle="tooltip"
          [title]="p.createDate | date: 'HH:mm - dd/MM/yyyy'"
        >
          {{ p.createDate | date: "dd/MM/yy" }}
        </td>
        <td>
          <button class="btn btn-sm btn-light" (click)="toEditPage(p.id)">
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noDataTable>
  <div class="row border rounded">
    <div style="height: 500px;"></div>
  </div>
</ng-template>
<!-- data table end -->
<br />
