<div class="row">
  <!-- category multi-option modal start -->
  <app-multi-select-cat (select)="onSelectCats($event)"></app-multi-select-cat>
  <!-- category multi-option modal end -->

  <!-- amount type start -->
  <div class="input-group mb-3 col-12 col-md-6 px-0 pr-md-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="amount-type">Amount</label>
    </div>
    <select
      class="custom-select"
      id="amount-type"
      (input)="onSelectAmountType($event.target.value)"
    >
      <option value="All" selected>All</option>
      <option value="InStock">In Stock</option>
      <option value="NearlyOutOfStock">Nearly Out of Stock</option>
      <option value="OutOfStock">Out of Stock</option>
    </select>
  </div>
  <!-- amount type end -->

  <!-- price start -->
  <div class="input-group mb-3 col-12 col-md-6 px-0">
    <div class="input-group-prepend">
      <span class="input-group-text">Price</span>
    </div>
    <input type="number" class="form-control" placeholder="Min" />
    <input type="number" class="form-control" placeholder="Max" />
  </div>
  <!-- price end -->

  <div class="d-md-flex" style="width: 100%;">
    <!-- title keyword input start -->
    <div class="input-group mb-3 mr-md-3" style="flex: 1;">
      <div class="input-group-prepend">
        <span class="input-group-text">Title</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Keyword"
        [(ngModel)]="keyword"
      />
    </div>
    <!-- title keyword input end -->

    <!-- search button start-->
    <button class="btn btn-success mb-3" (click)="search()">Search</button>
    <!-- search button end-->
  </div>
</div>

<!-- search result start -->
<div
  *ngIf="products != null && products.length > 0"
  class="row border rounded my-4"
>
  <table class="table table-borderless table-responsive-lg mb-0">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Time</th>
        <th style="width: 10%;">Settings</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let p of products; let i = index"
        [ngClass]="getAmountClass(p.amount)"
      >
        <td>{{ i + 1 }}</td>
        <td>{{ p.title }}</td>
        <td>{{ p.price | currency: "USD" }}</td>
        <td
          [ngClass]="{
            'font-weight-bold': p.amount == 0
          }"
        >
          {{ p.amount }}
        </td>
        <td
          data-toggle="tooltip"
          [title]="p.createDate | date: 'HH:mm - dd/MM/yyyy'"
        >
          {{ p.createDate | date: "dd/MM/yy" }}
        </td>
        <td>
          <button class="btn btn-sm btn-light" (click)="toEditPage(p.id)">
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="products != null && products.length == 0">
  <div class="row alert alert-warning mt-4 justify-content-center">
    <div>No results</div>
  </div>
</div>
<!-- search result end -->
